<?xml version="1.0"?>
<config>
	<modules>
        <LinkedRetail_LiquidPixels>
            <version>0.1.0</version>
        </LinkedRetail_LiquidPixels>
    </modules>
    <global>
        <resources>
            <liquidpixels_setup>
                <setup>
                    <module>LinkedRetail_LiquidPixels</module>
                    <class>LinkedRetail_LiquidPixels_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </liquidpixels_setup>
            <liquidpixels_attr_setup>
                <setup>
                    <module>LinkedRetail_LiquidPixels</module>
                    <class>LinkedRetail_LiquidPixels_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </liquidpixels_attr_setup>
        </resources>
        <frontend>
            <layout>
                <updates>
                    <linkedretail_liquidpixels>
                        <file>liquidpixels.xml</file>
                    </linkedretail_liquidpixels>
                </updates>
            </layout>
        </frontend>

        <blocks>
            <linkedretail_liquidpixels>
                <class>LinkedRetail_LiquidPixels_Block</class>
            </linkedretail_liquidpixels>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>LinkedRetail_LiquidPixels_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                    <catalog_product_edit_tab_options>LinkedRetail_LiquidPixels_Block_Adminhtml_Catalog_Product_Edit_Tab_Options</catalog_product_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <linkedretail_liquidpixels>
                <class>LinkedRetail_LiquidPixels_Model</class>
            </linkedretail_liquidpixels>
        </models>
    	<helpers>
    		<linkedretail_liquidpixels>
    			<class>LinkedRetail_LiquidPixels_Helper</class>
    		</linkedretail_liquidpixels>
    	</helpers>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <linkedretail_save_product_data>
                        <type>singleton</type>
						<class>LinkedRetail_LiquidPixels_Model_Observer</class>
                        <!-- <class>liquidpixels/observer</class> -->
                        <method>saveProductTabData</method>
                    </linkedretail_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <linkedretail_liquidpixels>
                                            <title>Liquid Pixels Configuration</title>
                                        </linkedretail_liquidpixels>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>